<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>

    <h1>업사이클링 주문</h1>

    <button onclick="location.href='../order/list'">주문 전체 목록 조회</button>
    <button onclick="location.href='../order/3'">선택된 주문 정보 조회</button>
    <button onclick="location.href='../order/regist'">주문 등록</button>
    <button onclick="location.href='../order/modify'">주문 수정</button>
    <button onclick="location.href='../order/delete'">주문 삭제</button>
    <button onclick="location.href='../order/querymethod'">쿼리 메소드</button>

</body>
</html>